body {
  font-family: Arial;
  background: #0f172a;
  color: white;
  margin: 0;
}

.login-box {
  width: 300px;
  margin: 100px auto;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

input {
  padding: 10px;
  border-radius: 8px;
  border: none;
}

button {
  padding: 10px;
  border: none;
  border-radius: 8px;
  background: #22c55e;
  color: white;
  font-weight: bold;
  cursor: pointer;
}

.chat-container {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.top-bar {
  padding: 10px;
  background: #1e293b;
  text-align: right;
}

.messages {
  flex: 1;
  padding: 10px;
  overflow-y: auto;
}

.send-box {
  display: flex;
  padding: 10px;
  background: #1e293b;
}

.send-box input {
  flex: 1;
  margin-right: 10px;
}

.my-msg {
  background: #22c55e;
  padding: 8px;
  border-radius: 10px;
  margin: 5px 0;
  align-self: flex-end;
}

.other-msg {
  background: #334155;
  padding: 8px;
  border-radius: 10px;
  margin: 5px 0;
  align-self: flex-start;
}
